.title {
    text-align: center;
}
.input {
    padding: 10px;
    width: 100%;
  }

.user {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
#user-container {
    display: flex;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    
}

#search-container {
    display: flex;
}